[Desktop Entry]
Categories=Development;Utility;
Comment=Lightweight Docker manager
Exec=quick-docker
Icon=quick-docker
Name=QuickDocker
Terminal=false
Type=Application
